<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.ucenter.mapper.UserMapper">
    <select id=" getUserInfoByUsername" parameterType="java.lang.String" resultType="com.xuecheng.framework.domain.ucenter.ext.XcUserExt">
        select xu.* companyid
        from xc_user xu , xc_company_user cu
         WHERE
             xu.username =#{username}
          AND
            xu.`id` = cu.`user_id`
    </select>

    <select id="getUserMenuByUid" resultType="com.xuecheng.framework.domain.ucenter.XcMenu" parameterType="java.lang.String">
        select xm.* from xc_user_role xr ,xc_permission xp ,xc_menu xm
        where
        xr.`user_id`=49
        and
        xr.`role_id`=xp.`role_id`
        and xm.id=xp.`menu_id`
    </select>

</mapper>